{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}

{% if config.plugins.taxonomylist.enabled %}
<div class="sidebar-content">
    <h4>Categories</h4>
    {% include 'partials/taxonomylist.html.twig' with {'base_url':new_base_url, 'taxonomy':'category'} %}
</div>
{% endif %}
{% if config.plugins.archives.enabled %}
<div class="sidebar-content">
    <h4>Archives</h4>
	{% include 'partials/archives.html.twig' with {'base_url':new_base_url} %}
</div>
{% endif %}
{% if page.find('/news').children %}
    <h4>Recent News</h4>
    <ul class="sidebar-menu">
        {% for child in page.find('/news').children %}
            {% if child.menu != 'Home' %}
                {% set current_page = (child.active or child.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }}">
                    <a href="{{ child.url }}">
                        {{ child.menu }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% if config.plugins.feed.enabled %}
<div class="sidebar-content syndicate">
    <h4>Syndicate</h4>
    <a class="button" href="{{ feed_url }}.atom"><i class="fa fa-rss-square"></i> Atom 1.0</a>
    <a class="button" href="{{ feed_url }}.rss"><i class="fa fa-rss-square"></i> RSS</a>
</div>
{% endif %}